.container{
    width: 100%;
    background: #242582;
    overflow: hidden;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    width: 80%;
    margin: 0 auto;
    /* background: #85dcb8; */
    overflow: hidden;

}
ul{
    /* width: 80%; */
    margin: 0 auto;
    padding: 0;
}

